axios
chart.js
firebase
framer-motion
localforage
lodash
moment
react
react-calendar
react-chartjs-2
react-datepicker
react-dom
react-icons
react-modal
react-router-dom
react-scripts
react-toastify
socket.io
socket.io-client
styled-components
web-vitals
ws
tailwindcss